@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'D3Euronism';
}
::selection {
  background-color: #f15a29; /* Replace with your desired color */
}

.card1{
  background-image: linear-gradient(45deg,#f15a29 30%,#f7941d 100%);
}
.card2{
  background-image: linear-gradient(45deg,#f7941d 30%,#ffb606 100%);
}
.card3{
  background-image: linear-gradient(45deg,#773f18 30%,#a47a5d 100%);
}
.card4{
  background-image: linear-gradient(45deg, #000000 30%, #9EA1A3 100%);
}
.card5{
  background-image: linear-gradient(45deg, #DAEAEF 30%, #9EA1A3 100%);
}
.card6{
  background-image: linear-gradient(45deg, #646565 30%, #686666 100%);
}
.card6{
  background-image: linear-gradient(45deg, #888787 30%, #FFFFFF 100%);
}
.card7 {
  background-image: linear-gradient(45deg, #ffb606 30%, #f15a29 100%);
}
.card8 {
  background-image: linear-gradient(45deg, #000000 40%,#949596  60%);
}
/* .card9 {
  background-image: linear-gradient(45deg, #339966 30%, #33CCCC 100%);
} */
.card9{
  background-image: linear-gradient(45deg, #9EA1A3 30%, #000000 100%);
}
.card10 {
  background-image: linear-gradient(45deg, #f6bf59 30%, #e9c525 100%);
}
.card11 {
  background-image: linear-gradient(45deg, #FF5733 30%, #FFA400 100%);
  }
.card12 {
  background-image: linear-gradient(45deg, #ff3333 30%, #FFA400 100%);
  }
ul.bullets {
  list-style-type: disc; /* This sets the bullet style to a disc */
  /* You can also use other values like 'circle', 'square', etc. */
}

/* styles/modal.css */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 3px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 10;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box {
  --border-size: 2px;
  --border-angle: 0turn;
  background-image: conic-gradient(from var(--border-angle), white, white 50%),
    conic-gradient(from var(--border-angle), transparent 20%, #FF7B26, #FE583C);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 8s linear infinite;
}

.bounce2 {
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.footer-svg {
  position: absolute;
  top: -100%;
  left: 0;
  /* width: 100%; */
  width: calc(250% + 1.3px);
  height: auto;
  z-index: 1;
  transform: rotate(180deg);
}
.footer {
  background-image: linear-gradient(180deg, #FF7B26 0%, #FE583C 100%);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-orange-500 left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}
select {
  outline: none;
}

.card-animation {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.card-animation1 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideBottom 1s ease-in-out forwards;
}

@keyframes slideBottom {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-animation3 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(20%); /* Slide in from bottom */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* No vertical translation */
    opacity: 1;
  }
}

.triangle-top::after {
    border-bottom: 11px solid rgba(249, 115, 22, 0.7);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    left: 30%;
    margin-right: auto;
    margin-left: auto;
    width: 1px;
    top: -11px;
}

.triangle-left::after {
  border-right: 11px solid rgba(249, 115, 22, 0.7);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  left: -103%;
  margin-right: auto;
  margin-left: auto;
  width: 1px;
  top: 30%;
  z-index: 10;
}


.triangle-top1::after {
  border-bottom: 11px solid rgba(249, 115, 22, 0.7);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 70%;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1px;
  top: -11px;
}

@media screen and (max-width: 768px) {
  .triangle-top::after {
    border-bottom: 11px solid rgba(249, 115, 22, 0.7);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 70%;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1px;
    top: -11px;
  }
}
